@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgb(249 115 22);
}
.fire-btn {
    transition: all 0.2s;
}
.fire-btn:active {
    transform: scale(0.95);
    box-shadow: 0 0 20px 5px rgb(249 115 22);
}
.progress-ring {
    animation: spin 1s linear infinite;
}