{
    auto_https disable_redirects
}

:{env.WEB_HTTP_PORT} {
    redir https://{host}:{env.WEB_HTTPS_PORT}{uri} permanent
}

:{env.WEB_HTTPS_PORT} {
    tls internal
    reverse_proxy 127.0.0.1:{env.WEB_PORT}
}